*, body { 
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root { 
    --color-bg: #1f2937;
    --color-bt: #3882f6;
    --color-sect-bg: #e5e7eb; 
}
ul{ 
    list-style: none;
}
a { 
    text-decoration: none;
}
img {
    width: 300px;
}
.header { 
    background: var(--color-bg);
    color: var(--color-sect-bg);
}
.header_row  {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    padding: 2rem 2.5rem;
      max-width: 1440px;
    margin: 0 auto;
}
.header_right  { 
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}
.header_right > a { 
    color: var(--color-sect-bg);
}
.section_main { 
    background: var(--color-bg)
}
.main_section_row { 
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 0;
}
.main_section_left {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--color-sect-bg);
}
.main_section_left > h2 { 
    font-size: 30px;
    text-transform: uppercase;
    max-width: 550px;
}
.main_section_left > p { 
    max-width: 720px;
    font-size: 25px;
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.main_section_right > img {
    width: 620px;
    border: 2px solid black;    
    transition: all 0.5s;

}

.main_section_right > img:hover { 
        box-shadow: 2px 12px  yellow;
}