*, body { 
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root { 
    --color-bg: #1f2937;
    --color-bt: #3882f6;
    --color-sect-bg: #e5e7eb; 
}
ul{ 
    list-style: none;
}
a { 
    text-decoration: none;
}

.header { 
    background: var(--color-bg);
    color: var(--color-sect-bg);
}
.header_row  {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    padding: 2rem 2.5rem;
      max-width: 1440px;
    margin: 0 auto;
}
.header_right  { 
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}
.header_right > a { 
    color: var(--color-sect-bg);
}
.section_main { 
    background: var(--color-bg)
}
.main_section_row { 
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 0;
}
.main_section_left {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--color-sect-bg);
}
.main_section_left > h2 { 
    font-size: 30px;
    text-transform: uppercase;
    max-width: 550px;
}
.main_section_left > p { 
    max-width: 720px;
    font-size: 25px;
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.main_section_right > img {
    width: 620px;
    border: 2px solid black;    
    transition: all 0.5s;
        box-shadow: 1px 3px  yellow;

}

.main_section_right > img:hover { 
    box-shadow: 2px 12px  yellow;
}

.main_body_row{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}   

.main_body_row > h2 { 
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.main_body_card { 
    display: flex;
    align-items: center;
    gap: 2rem;
}
.card { 
    border: 2px solid black;
    box-shadow: 1px 3px  yellow;
    padding: 0.2rem 0.2rem;
    gap: 1.3rem;
    transition: all 0.5s;
}
.card > img { 
    width: 330px;
}
.card > p { 
    max-width: 330px;
    font-weight: bold;
    font-size: 22px;
}
.card:hover { 
    box-shadow: 2px 12px  yellow;
}
.main_lower { 
    background: var(--color-sect-bg);
}
.main_lower_row { 
    margin: 0 auto;    
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem;
}

.main_lower_block  > p{ 
    font-size: 40px;
}
.main_lower_block > strong { 
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 50px;
}