@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
html {
  font-family: roboto;
}
ul,
li {
  line-height: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Micro 5", sans-serif;
  font-weight: 900;
}
.header-wrap {
  background: rgb(255, 2, 74);
  background: linear-gradient(
    180deg,
    rgba(255, 2, 74, 1) 0%,
    rgba(34, 110, 146, 1) 99%,
    rgba(34, 110, 146, 1) 100%
  );
  color: white;
  height: 490px;
  min-width: 800px;
  width: 100%;
}
.header-wrap-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 900;
  font-style: italic;
  background-color: rgb(31, 41, 55);
}
.header-wrap-logo h1 {
  font-size: 33px;
}
.header-wrap-logo h1:hover {
  color: rgba(233, 232, 232, 0.596);
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  font-size: 35px;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}

.header-list-tag {
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}
.header-lsit-tag li:hover {
  font-size: 20px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.header-body-pages-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding-top: 3rem;
}
.list h2 {
  font-size: 144px;
  letter-spacing: 1rem;
  text-align: center;
}
.list li {
  letter-spacing: 0.6rem;
  font-weight: 600;
  font-size: 33px;
}
.list ul,
li {
  font-size: 33px;
  font-weight: bold;
  line-height: 2.3rem;
}
.list-img img {
  transition: 1s;
  height: 340px;
  width: 330px;
  border-radius: 11%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-border-radius: 11%;
  -moz-border-radius: 11%;
  -ms-border-radius: 11%;
  -o-border-radius: 11%;
}
.list-img img:hover {
  transition: all 1s;
  background-color: rgb(63, 83, 112);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.pages-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pages-title {
  font-size: 46px;
  padding: 1.5rem;
}
.pages img {
  border-radius: 33%;
  -webkit-border-radius: 33%;
  -moz-border-radius: 33%;
  -ms-border-radius: 33%;
  -o-border-radius: 33%;
}

.pages-body-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 2.2rem;
}

.block-pages img {
  width: 200px;
  transition: all 1s;
}
.block-pages img:hover {
  width: 266px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.block-pages p {
  max-width: 200px;
  text-align: center;
  font-size: 22px;
}

.footer {
  font-size: 33px;
  letter-spacing: 0.5rem;
  position: fixed;
  bottom: 0;

  border: 1px solid black;
  padding: 0.3rem;
  opacity: 0.7;
}
.footer:hover {
  transition: all 1s;
  font-size: 44px;
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.pages-inform {
  min-width: 800px;
  width: 100%;
  background-color: rgb(229, 231, 235);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.pages-inform-box-row {
  max-width: 100%;
  width: 100%;
  height: 300px;
}
.pages-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
}
.pages-box p {
  transition: all 1s;
  font-size: 17px;
  letter-spacing: 0.3rem;
  max-width: 500px;
  max-height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.pages-box p:hover {
  transition: all 1s;
  font-size: 23px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  color: rgba(51, 38, 38, 0.178);
  max-width: 800px;
}

.pages-puppy {
  margin-top: 8rem;
  background: rgba(59, 131, 246, 0.568);
  height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-border {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.box-left-title {
  letter-spacing: 0.3rem;
  font-size: 33px;
}
.box-right-button {
}
.btn {
  border: 0.44px solid white;
  border-radius: 13px;

  font-size: 24px;
  padding: 1rem 4rem;
  background-color: rgb(144, 184, 250);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.btn a {
  color: white;
  font-size: 30px;
}
